{% extends 'base.html.twig' %}

{% block title %}New Candidatures{% endblock %}

{% block body %}
    <h1>Create new Candidatures</h1>

    {{ include('candidatures/_form.html.twig') }}

    <a href="{{ path('candidatures_index') }}">back to list</a>
{% endblock %}
